<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
        <title>Capability</title>
        <link rel="stylesheet" type="text/css" href="../../css/api.css" />
        <link rel="stylesheet" type="text/css" href="../../css/common.css" />
        <style>
            body{
                min-height: 100%;
                height: auto;
            }
            .container {
                position: relative;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                padding-left: 1.6rem;
                width: 100%;
                height: auto;
                overflow: hidden;
            }
            
            .container .row {
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                padding-right: 1.6rem;
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-flex-flow: row;
                flex-flow: row;
                width: 100%;
                height: 4.4rem;
                border-bottom: 1px solid #bababa;
                position: relative;
            }
            .container .row.demandType {
                height: auto;
                min-height: 4.4rem;
            }
            .container .row.demandType .value{
                height: auto;
            }
            #demandType{
                /*line-height: 1.8rem;*/
                /*padding: 1.2rem 0;*/
                line-height: 20px;
                font-size: 12px;
            }
            .container .row:before{
                content: '*';
                color: red;
                line-height: 4.4rem;
                position: absolute;
                font-size: 1.5rem;
                left: 0;
                top: 0;
            }

            .no_required:before{
                visibility: hidden;
            }
            
            .container .row .name {
                position: relative;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                width: auto;
                height: 4.4rem;
                color: #000;
                font-size: 1.6rem;
                line-height: 4.4rem;
                text-align: left;
                padding-left: 1rem;
            }
            
            .container .row .value {
                margin-left: 1rem;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                height: 4.4rem;
                line-height: 4.4rem;
                color: #888;
                position: relative;
            }
            .container .row .value.angle:after{
                content: ">";
                font-size: 2rem;
                position: absolute;
                line-height: 4.4rem;
                color: #A9A9A9;
                right: -1rem;
                top: 0;
            }
            
            .container .row .value input {
                text-align: end;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                line-height: normal;
                width: 100%;
                border: none;
                outline: none;
                font-size: 1.5rem;
                color: #A9A9A9;
            }
            .container .row .value.angle input{
                padding-right: 1rem;
            }
            input.for-text{
                color: #000000;
            }
            
            .container .row .code-button {
                height: 4.4rem;
                width: 10rem;
                font-size: 1.4rem;
                color: #0171c5;
                text-align: center;
                line-height: 4.4rem;
            }
            
            .button {
                margin: 3.6rem 4.8rem;
                width: auto;
                height: 4.4rem;
                color: #fff;
                font-size: 1.6rem;
                line-height: 4.4rem;
                text-align: center;
                background-color: #00AEEF;
                border-radius: 0.8rem;
            }
            .highlight {
                opacity: 0.7;
            }
            .textWrap {
                height: 10rem;
                background-color: #ffffff;
                margin: 1rem;
                border: 1px solid #D6D6D6;
                display: -webkit-box;
            }

            textarea {
                display: block;
                -webkit-box-flex: 1;
                resize: none;
                padding: 1rem;
                font-size: 1.4rem;
                height: 100%;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
            }



        </style>
    </head>
    <body><!--
        <section class="container">
            <div class="row demandType">
                <div class="name">我的接单类别</div>
                <div class="value">
                    <p id="demandType" tapmode onclick="setDemandType(this, 'select')"></p>
                </div>
            </div>
            <div class="row">
                <div class="name">公司全称</div>
                <div class="value">
                    <input id="companyName" class="for-text" type="text" placeholder="必填项">
                </div>
            </div>
            <div class="row no_required">
                <div class="name">公司网址</div>
                <div class="value">
                    <input id="companyWebsite" class="for-text" type="url" placeholder="必填项">
                </div>
            </div>
            <div id="controlMobile" class="row hidden">
                <div class="name">公司城市</div>
                <div class="value">
                    <input id="city" class="for-text" type="text" placeholder="请输入验证码">
                </div>
            </div>
            <div class="row">
                <div class="name">公司规模</div>
                <div class="value angle">
                    <input id="companyScale" type="text" value="50人以下" placeholder="" tapmode onclick="setProductCount(this)" readonly>
                </div>
            </div>

            <div class="row">
                <div class="name">公司年营业额</div>
                <div class="value angle">
                    <input id="businessVolume" type="text" value="200万以下" placeholder="" tapmode onclick="setBusinessVolume(this)" readonly>
                </div>
            </div>
            <div class="row">
                <div class="name">公司研发人数</div>
                <div class="value angle">
                    <input id="researchCount" type="text" placeholder="" value="0-10人" tapmode onclick="setResearchCount(this)" readonly>
                </div>
            </div>
            <div class="row">
                <div class="name">公司生产人数</div>
                <div class="value angle">
                    <input id="productCount" type="text" placeholder="" value="0-50人" tapmode onclick="setProductCount(this)" readonly>
                </div>
            </div>
            <div class="row">
                <div class="name">公司销售人数</div>
                <div class="value angle">
                    <input id="salesCount" type="text" type="text" placeholder="" value="0-10人" tapmode onclick="setResearchCount(this)" readonly>
                </div>
            </div>
            <div class="row no_required">
                <div class="name">我们能提供的资源和支持</div>
            </div>
            <div class="textWrap">
                <textarea id="textarea" placeholder="请在这里输入"></textarea>
            </div>
        </section>
        <div class="button btn" tapmode="highlight" onclick="fnSubmit(this)">提交</div>
        <div style="height:1px"></div>
        <div id="modal_demand_type">
            <div class="demand-content">
                <p class="content-title">
                    请修改您的接单类别
                </p>
                <ul class="content-list">

                </ul>
                <div class="btn-group">
                    <span class="btn btn-cancel" tapmode onclick="setDemandType(this, 'cancel')">取消</span>
                    <span class="btn btn-ensure" tapmode onclick="setDemandType(this, 'ensure')">确定</span>
                </div>
            </div>
        </div>
        <div id="modal_selector" tapmode="" onclick="selectCancel()">
            <div class="select">
                <div class="select-control">
                    <div class="select-control-cancel" tapmode="" onclick="selectCancel()">取消</div>
                    <div class="select-control-placeHolder"></div>
                    <div class="select-control-ok" tapmode="" onclick="selectCancel()">完成</div>
                </div>
                <div class="select-content">

                </div>
            </div>
        </div> -->
    </body>
    <script type="text/javascript" src="../../script/api.js"></script>
    <script type="text/javascript" src="../../script/ajaxRequest.js"></script>
    <script type="text/javascript" src="../../script/languge.js"></script>
    <script type="text/javascript">
        var account = $api.getStorage('loginInfo');
        var thisID = 0;
        var UICustomPicker;

        apiready = function() {
            UICustomPicker = api.require('UICustomPicker');
            var zhuge = api.require('zhuge');
            if (zhuge) {
                zhuge.initZhuge();
                zhuge.track({
                    eventName: '我的_我的接单能力',
                    eventPro: {}
                });
            }
            getMyCapacity();
            return;
            getDemandType();
        };

        function toggleSwitch(obj,clz){
            var $selectSwitch = $api.domAll('.'+clz);
            var reg = /radio/g;
            if (reg.test(clz)) {
                for(var i=0;i<$selectSwitch.length;i++){
                    $api.removeCls($selectSwitch[i],'checked');
                }
            } else {

            }
            if($api.hasCls(obj,'checked')){
                $api.removeCls(obj,'checked');
            }else{
                $api.addCls(obj,'checked');
            }
        };

        var controlMobile = $api.byId('controlMobile'),
            controlEmail = $api.byId('controlEmail'),
            mobile = $api.byId('mobile'),
            email = $api.byId('email');

        function getMyCapacity(){

            // 获取我的接单能力
            fnAjax({
                url: 'companyCapacities/getInfo',
                headers: {
                    authorization: USER.token
                }
            }, function( ret, err){
                if( ret ){
                    var _html = '';

                    var _SingleType = [];
                    for( var x in ret.demandType ){
                        _SingleType.push( fnSingleTypeJson()[ ret.demandType[x] ] );
                    }

                    _html +=
                    '<section class="container">'+
                    '    <div class="row demandType">'+
                    '        <div class="name">'+fnLanguageSwitch( '我的接单类别' )+'</div>'+
                    '        <div class="value">'+
                    '            <p id="demandType" data-type="'+JSON.stringify( ret.demandType )+'" tapmode onclick="setDemandType(this, \'select\')">'+_SingleType.join( '；<br />' )+'。</p>'+
                    '        </div>'+
                    '    </div>';


                    _html +=
                    '    <div class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司全称' )+'</div>'+
                    '        <div class="value">'+
                    '            <input id="companyName" class="for-text" value="'+( ret.companyName && ret.companyName )+'" type="text" placeholder="'+fnLanguageSwitch( '必填项' )+'">'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row no_required">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司网址' )+'</div>'+
                    '        <div class="value">'+
                    '            <input id="companyWebsite" class="for-text" value="'+( ret.companyWeb && ret.companyWeb )+'" type="url" placeholder="'+fnLanguageSwitch( '选填项' )+'">'+
                    '        </div>'+
                    '    </div>'+
                    '    <div id="controlMobile" class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司城市' )+'</div>'+
                    '        <div class="value">'+
                    '            <input id="city" class="for-text" type="text" value="'+( ret.city && ret.city )+'" placeholder="'+fnLanguageSwitch( '请输入验证码' )+'">'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司规模' )+'</div>'+
                    '        <div class="value angle">'+
                    '            <input id="companyScale" type="text" '+(
                     ret.companyScale && ('data-selectorid="'+ret.companyScale+'" value="'+fnCompanySizeJson()[ ret.companyScale ]+'"' ))+' tapmode onclick="setProductCount(this)" readonly>'+
                    '        </div>'+
                    '    </div>'+

                    '    <div class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司年营业额' )+'</div>'+
                    '        <div class="value angle">'+
                    '            <input id="businessVolume" type="text" '+( ret.businessVolume && ( ' data-selectorid="'+ret.businessVolume+'" value="'+fnTurnoverJson()[ ret.businessVolume ]+'"' ))+' tapmode onclick="setBusinessVolume(this)" readonly>'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司研发人数' )+'</div>'+
                    '        <div class="value angle">'+
                    '            <input id="researchCount" type="text" tapmode '+( ret.researchPersonnel &&  ( 'data-selectorid="'+ret.researchPersonnel+'" value="'+fnCompanyRDJson()[ ret.researchPersonnel ]+'"' ))+'   onclick="setResearchCount(this)" readonly>'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司生产人数' )+'</div>'+
                    '        <div class="value angle">'+
                    '            <input id="productCount" type="text" '+( ret.production && ( 'value="'+fnCompanySizeJson()[ ret.production ]+'" data-selectorid="'+ret.production+'"' ))+'  tapmode onclick="setProductCount(this)" readonly>'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row">'+
                    '        <div class="name">'+fnLanguageSwitch( '公司销售人数' )+'</div>'+
                    '        <div class="value angle">'+
                    '            <input id="salesCount" type="text" '+( ret.salesman && ( 'value="'+fnCompanyRDJson()[ ret.salesman ]+'" data-selectorid="'+ret.salesman+'"' ))+' tapmode onclick="setResearchCount(this)" readonly>'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="row no_required">'+
                    '        <div class="name">'+fnLanguageSwitch( '我们能提供的资源和支持' )+'</div>'+
                    '    </div>'+
                    '    <div class="textWrap">'+
                    '        <textarea id="textarea" placeholder="'+fnLanguageSwitch( '请在这里输入' )+'">'+( ret.description && ret.description )+'</textarea>'+
                    '    </div>'+
                    '</section>'+
                    
                    '<div class="button btn" tapmode="highlight" onclick="fnSubmit(this)">'+fnLanguageSwitch( '提交' )+'</div>'+
                    '<div style="height:1px"></div>'+
                    '<div id="modal_demand_type">'+
                    '    <div class="demand-content">'+
                    '        <p class="content-title">'+
                    '            '+fnLanguageSwitch( '请修改您的接单类别' )+
                    '        </p>'+
                    '        <ul class="content-list">'+

                    '        </ul>'+
                    '        <div class="btn-group">'+
                    '            <span class="btn btn-cancel" tapmode onclick="setDemandType(this, \'cancel\')">'+fnLanguageSwitch( '取消' )+'</span>'+
                    '            <span class="btn btn-ensure" tapmode onclick="setDemandType(this, \'ensure\')">'+fnLanguageSwitch( '确定' )+'</span>'+
                    '        </div>'+
                    '    </div>'+
                    '</div>';

                    $api.dom( 'body' ).innerHTML = _html;
                }else{
                    api.toast({
	                   global: true,
                        msg: fnLanguageSwitch( fnErrorJson( err.body.error.message ) )
                    });
                }
            });
            return;
            // 这里开始重构
            // APPMatchmaking/getCompanyCapacity.aspx
            var data = $api.getStorage('getCompanyCapacity');
            if (api.connectionType == 'none') {
                if(data){
                    // console.log(JSON.stringify(ret));
                        data.DemandType && $api.attr($api.dom('#demandType'), 'data-type', data.DemandType);
                        data.Id && (thisID = data.Id);
                        data.CompanyName && $api.val($api.dom('#companyName'), data.CompanyName);
                        data.CompanyWeb && $api.val($api.dom('#companyWebsite'), data.CompanyWeb);
                        data.City && $api.val($api.dom('#city'), data.City);
                        data.CompanyScale && $api.val($api.dom('#companyScale'), data.CompanyScale);
                        data.BusinessVolume && $api.val($api.dom('#businessVolume'), fnTranslation( data.BusinessVolume, true ) );
                        data.ResearchPersonnel && $api.val($api.dom('#researchCount'), data.ResearchPersonnel);
                        data.Production && $api.val($api.dom('#productCount'), fnTranslation( data.Production, true ));
                        data.Salesman && $api.val($api.dom('#salesCount'), fnTranslation( data.Salesman, true) );
                        data.Description && $api.val($api.dom('#textarea'), data.Description);
                } else {
                    api.toast({
	               global: true,
                        msg: 'The information about capability hasn\'t been obtained.',
                        duration: 2000,
                        location: 'middle'
                    });
                }
                
            } else{

                ajaxRequest('/APPMatchmaking/getCompanyCapacity.aspx', 'post', {
                    UserID: parseInt(account.userid),
                    BatchNo: account.batchno, 
                }, function(ret, err){

                    if(ret){
                        var data = ret;
                        if( data.DemandTypeName ){
	                        $api.text($api.dom('#demandType'), data.DemandTypeName.replace('模具 / 手版打样/ID工业设计/ 结构设计 ','Mockup/ID Design/Mechanical Design').replace('基于Intel 芯片的设计','Motherboard Design and MFG based on IA').replace('接口板的设计+生产','Whole-set Assembly and MFG').replace('整机生产和组装厂','Whole-set Assembly and MFG') );
                        }
                        data.DemandType && $api.attr($api.dom('#demandType'), 'data-type', data.DemandType);
                        data.Id && (thisID = data.Id);
                        data.CompanyName && $api.val($api.dom('#companyName'), data.CompanyName);
                        data.CompanyWeb && $api.val($api.dom('#companyWebsite'), data.CompanyWeb);
                        data.City && $api.val($api.dom('#city'), data.City);
                        data.CompanyScale && $api.val($api.dom('#companyScale'), data.CompanyScale);
                        data.BusinessVolume && $api.val($api.dom('#businessVolume'), fnTranslation( data.BusinessVolume, true ) );
                        data.ResearchPersonnel && $api.val($api.dom('#researchCount'), data.ResearchPersonnel);
                        data.Production && $api.val($api.dom('#productCount'), fnTranslation( data.Production, true ));
                        data.Salesman && $api.val($api.dom('#salesCount'), fnTranslation( data.Salesman, true) );
                        data.Description && $api.val($api.dom('#textarea'), data.Description);
                        $api.setStorage('getCompanyCapacity', data);
                    }
                    if (err) {
                        console.log('err===='+ JSON.stringify(err));
                    }
                });
            }
        };


        // /APPMatchmaking/getDemandType.aspx
        var demandTypeArray = [];

        function getDemandType(){
            var data = $api.getStorage('getDemandType');
            if (api.connectionType == 'none') {
                if (data) {
                    demandTypeArray = data;
                } else {
                    api.toast({
	                      global: true,
                        msg: 'The information about capability type hasn’t been obtained.',
                        duration: 2000,
                        location: 'middle'
                    });
                }
                
            } else{
                ajaxRequest('/APPMatchmaking/getDemandType.aspx', 'post', {
                    UserID: parseInt(account.userid),
                    BatchNo: account.batchno, 
                }, function(ret, err){

                    if(ret){
                        // console.log(JSON.stringify(ret));
                        var data = ret.DemandType;
                        demandTypeArray = data;
                        $api.setStorage('getDemandType', data);
                    }
                    if (err) {
                        console.log('err===='+ JSON.stringify(err));
                    }
                });
            }
        };

        var modal_demand_type = $api.dom('#modal_demand_type');
        var contentList = $api.dom('#modal_demand_type .content-list');

        function setDemandType(el, type){
            // type = 'select, cancel, ensure';
            if (type == 'select') {
                var _SingleType = fnSingleTypeJson(),
                    _html = '',
                    _Ids = JSON.parse( $api.attr(el, 'data-type' ) );
                for( var x in _SingleType ){
                    _html +=
                    '<li class="content-item ellipsis-1 '+( _Ids.indexOf( +x ) !== -1 && 'checked' )+'" tapmode onclick="toggleSwitch(this,\'content-item\')" data-type="'+ x +'">'+_SingleType[x]+'</li>';
                }
                $api.html($api.dom('#modal_demand_type .content-list'), _html);
                $api.addCls( $api.dom('#modal_demand_type'), 'active');
            } else if(type == 'ensure'){
                var demandChecked = $api.domAll('#modal_demand_type .content-item.checked');
                var typeNames = [];
                var typeIds = [];
                for (var j = 0; j < demandChecked.length; j++) {
                    typeNames.push( $api.trim($api.text(demandChecked[j])) );
                    typeIds.push( +$api.attr(demandChecked[j], 'data-type') );
                }
                $api.dom('#demandType').innerHTML = typeNames.join( '；<br />' )+'。';
                $api.attr($api.dom('#demandType'), 'data-type', JSON.stringify( typeIds ) );
                $api.removeCls($api.dom('#modal_demand_type'), 'active');
            } else{
                $api.removeCls($api.dom('#modal_demand_type'), 'active');
            }
                
        };

        function setBusinessVolume(el){
            openSelector(el, fnTurnoverJson());
        };

        function setResearchCount(el){
            openSelector(el, fnCompanyRDJson());
        };

        function setProductCount(el){
            openSelector(el, fnCompanySizeJson() );
        };

        var submitLock = false;
        function isEmepty(str){
            if (str == undefined || str == null) {
                return true;
            } else {}
            if ($api.trim(str) == '' || $api.trim(str) == '---Select---') {
                return true;
            } else {
                return false;
            }
        };

        function fnSubmit(el){
            var _demandType = $api.attr($api.dom( '#demandType' ), 'data-type' ),
                _companyName = $api.dom( '#companyName' ).value,
                _description = $api.dom( '#textarea' ).value;
            if( ! _demandType ){
                api.toast({
	           global: true,
                    msg: fnLanguageSwitch( '请选择接单类别' )
                });
            }else if( ! _companyName ){
                api.toast({
	            global: true,
                    msg: fnLanguageSwitch( '请填写公司全称' )
                });
            }else if( ! _description ){
                api.toast({
	              global: true,
                    msg: fnLanguageSwitch( '请填写所能提供的资源和支持' )
                });
            }else{
                fnAjax({
                    url: 'companyCapacities/updateInfo',
                    headers: {
                        authorization: USER.token
                    },
                    data: {
                        values: {
                            demandType: JSON.parse( _demandType ),
                            companyName: _companyName,
                            companyWeb: $api.dom( '#companyWebsite' ).value,
                            companyScale: $api.attr($api.dom( '#companyScale' ), 'data-selectorid' ),
                            businessVolume: $api.attr($api.dom( '#businessVolume' ), 'data-selectorid' ),
                            researchPersonnel: $api.attr($api.dom( '#researchCount' ), 'data-selectorid' ),
                            production: $api.attr($api.dom( '#productCount' ), 'data-selectorid' ),
                            salesman: $api.attr($api.dom( '#salesCount' ), 'data-selectorid' ),
                            description: _description,
                            city: $api.dom( '#city' ).value
                        }
                    },
                    debug: true
                }, function( ret, err){
                    if( ret ){
                        api.toast({
	                   global: true,
                            msg: fnLanguageSwitch( '接单能力修改成功' )
                        });
                        setTimeout(function(){
                            api.closeWin();
                        }, 2000);
                    }else{
                        api.toast({
	                     global: true,
                            msg: fnLanguageSwitch( fnErrorJson( err.body.error.message ) )
                        });
                    }
                });   
            }

            

        // 这里开始重构
        return;

            var DemandType = $api.trim($api.attr($api.dom('#demandType'), 'data-type'));
            if (isEmepty(DemandType)) {
                api.alert({
                    title: 'Notice', 
                    msg: 'Please select your capability type',
                    buttons: ['OK']

                });
                return false;
            }
            var CompanyName = $api.trim($api.val($api.dom('#companyName')));
            if (isEmepty(CompanyName)) {
                api.alert({
                    title: 'Notice', 
                    msg: 'Please input the full name of your company',
                    buttons: ['OK']

                });
                return false;
            }
            var CompanyWeb = $api.trim($api.val($api.dom('#companyWebsite')));
            var City = $api.trim($api.val($api.dom('#city')));
            var CompanyScale = $api.trim($api.val($api.dom('#companyScale')));
            var BusinessVolume = $api.trim($api.val($api.dom('#businessVolume')));
            var ResearchPersonnel = $api.trim($api.val($api.dom('#researchCount')));
            var Production = $api.trim($api.val($api.dom('#productCount')));
            var Salesman = $api.trim($api.val($api.dom('#salesCount')));
            var Description = $api.trim($api.val($api.dom('#textarea')));
            if (isEmepty(Description)) {
                api.alert({
                    title: 'Notice', 
                    msg: 'Please fill in the resource and support you can provide',
                    buttons: ['OK']
                    
                });
                return false;
            }
            if (submitLock) {
                return false;
            } else {
                submitLock = true;
                $api.attr(el, 'disabled', 'disabled');
            }
            ajaxRequest('/APPMatchmaking/UpCompanyCapacity.aspx', 'post', {
                UserID: parseInt(account.userid),
                BatchNo: account.batchno, 
                ID: thisID,
                DemandType: fnTranslation(DemandType),
                CompanyName: fnTranslation(CompanyName),
                CompanyWeb: fnTranslation(CompanyWeb),
                City: fnTranslation(City),
                CompanyScale: fnTranslation(CompanyScale),
                BusinessVolume: fnTranslation(BusinessVolume),
                ResearchPersonnel: fnTranslation(ResearchPersonnel),
                Production: fnTranslation(Production),
                Salesman: fnTranslation(Salesman),
                Description: fnTranslation(Description),
            }, function(ret, err){
                submitLock = false;
                $api.removeAttr(el, 'disabled');
                if (ret && ret.res) {
                    api.toast({
	                global: true,
                        msg: 'Your capability has been modified successfully',
                        duration: 2000,
                        location: 'middle'
                    });
                    setTimeout(function(){
                        api.closeWin();
                    },2000);
                } else {
                    api.toast({
	                        global: true,
                        msg: JSON.stringify(ret),
                        duration: 2000,
                        location: 'middle'
                    });
                }
                if (err) {
                    api.toast({
	                     global: true,
                        msg: JSON.stringify(err),
                        duration: 2000,
                        location: 'middle'
                    });
                }
            });

        };
    </script>

</html>
