<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>simple-page</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/fonts_awesome/font-awesome.min.css">
    <style type="text/css">
    #header{
        display: none;
    }
    #header.active{
        display: block;
    }
    #header .header-multi.active{
        display: block;
    }
    #header .header-multi .header-normal{
        display: none;
    }
    #header .header-multi .header-normal.active{
        display: block;
    }
    #header .header-normal .header-btn [class*="fa-"] {
	    font-size: 3rem;
	}
      .tap-active{background-color: #0060A8 !important;}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header" class="active">
            <div class="header-multi">
                <div class="header-normal header-normal-home active">
                    <div class="header-btn pull-left" tapmode="tap-active" onclick="closeWindow()">
                        <span class="fa fa-angle-left"></span>
                    </div>
                    <!-- <div class="header-btn pull-right">
                        <span class="fa fa-share-alt" tapmode="tap-active" onclick=""></span>
                    </div> -->
                    <div class="header-center">
                        <span class="title"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="main">
                
        </div>
    </div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/ajaxRequest.js"></script>
<script type="text/javascript" src="../../script/languge.js"></script>
<script type="text/javascript" src="../../script/translation.js"></script>
<script type="text/javascript">
	var header = $api.dom('#header');
	var header_title = $api.dom('#header .title');
   
	apiready = function(){
	  	var pageParam = api.pageParam;
 //debugAlert(JSON.stringify(pageParam))
	  	$api.fixStatusBar(header);
	  	var header_h = $api.offset(header).h;
	  	$api.text(header_title, pageParam.title);
		api.openFrame({
            name: pageParam.name +'_frm',
            url: './'+ pageParam.name +'_frm.html',
            bounces: pageParam.bounces,
            rect: {
                x: 0,
                y: header_h,
                w: 'auto',
                h: 'auto'
            },
            reload: true,
            pageParam: pageParam
        });
	};
	    
	function closeWindow(){
        var from = api.pageParam.from;
        if(from&&from =='newProject'){
            api.execScript({
                name: 'index',
                frameName: 'frm_chain',
                script: 'loadDataFromComandForMaker()'
            });
            api.closeToWin({
                name: 'index'
            });
        }else{
            api.closeWin();
        }
	};
</script>
</html>