<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>查看免费样片</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/fonts_awesome/font-awesome.min.css">
    <style type="text/css">
    body{
        height: auto;
        min-height: 100%;
        background-color: #FFFFFF;
    }
    .placeholder{
        height: 2.5rem;
    }
    .container{
        padding: 0 1rem;
    }
    .container label.text{
        font-size: 1.7rem;
        line-height: 4.7rem;
        color: #000000;
    }
    .table{
        margin: 0 auto;
        margin-bottom: 1.5rem;
        /*border-bottom: 1px solid #AEBECB;*/
        width: 100%;
    }
    .table td{
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0.9rem 0;
        color: #101010;
        /*border: 1px solid #AEAEAE;*/
    }
    .table tr td:nth-child(odd){
        width: 37%;
        font-size: 1.3rem;
        color: #5A5A5A;
    }
    .table tr td:nth-child(even){
        width: 63%;
        font-size: 1.9rem;
        color: #0070C5;
    }
    p.notice{
        font-size: 1.9rem;
        line-height: 2.2rem;
        color: #0070C5;
    }

    span.normal-text{
        color: #5A5A5A;
        font-size: 1.3rem;
    }

    p.content{
        color: #5A5A5A;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    
    label[for="checkbox"]{
        color: #5A5A5A;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    .fake-link{
        color: #0071C5 !important;
    }

    </style>
</head>
<body>
<!--     <div class="placeholder"></div>
    <div class="container">
        <p class="content" style="margin-bottom: 1rem">
            您是要申请与此项目相关的什么样片：
        </p>
        <p class="notice" style="margin-bottom:1rem">
            test开发板（申请数量：2）
        </p>
        <p class="content">请注意：系统会根据实际情况对样品的数量进行调整，具体的样品数量以世纪收到的为准。</p>
        <p class="content" style="margin-bottom: 1rem">
            为了更好的评估您所申请的样品，请简单介绍一下本产品：
        </p>
        <p class="notice" style="margin-bottom:1rem">
            呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵额呵呵呵呵呵呵额呵呵呵
        </p>
        <p class="content" style="margin-bottom: 1rem">
            如本项目研发成功，是否考虑基于当前平台再研发其他产品：
        </p>
        <p class="notice" style="margin-bottom:1rem">
            是
        </p>

        <label for="checkbox" style="margin-bottom: 2rem">
            <input type="checkbox" id="checkbox" disabled="" checked="">
            我同意英特尔嵌入式样品计划的
            <span class="fake-link" tapmode onclick="goWebPage()">
                条款与条件>>
            </span>
        </label>
        <label for="checkbox" style="margin-bottom: 2rem">
            <input type="checkbox" id="checkbox" disabled="" checked="">
            我同意英特尔代表或其合作伙伴通过电话或电子邮件与我联系。告知有关英特尔样品的更多信息，英特尔或其合作伙伴还可将我的联系信息用于提供产品或提供支持。
        </label>
        <p class="notice" style="padding-top: 0.3rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">地址信息</p>
        <p class="content">
            以下信息为必填，我们会把资料保存到您的个人信息里，下次申请无需再次填写。
        </p>
        <table class="table">
            <tbody>
                <tr>
                    <th>
                    </th>
                </tr>
                <tr>
                    <td>公司名称（中文）</td>
                    <td>柚子科技</td>
                </tr>
                <tr>
                    <td>公司名称（英文）</td>
                    <td>柚子科技</td>
                </tr>
                <tr>
                    <td>公司地址（中文）</td>
                    <td>是的放假哦碍事的地方jap圣诞节哦啊怕实际得分</td>
                </tr>
                <tr>
                    <td>邮政编码：</td>
                    <td>132411</td>
                </tr>
                <tr>
                    <td>公司地址（英文）</td>
                    <td>是的放假哦碍事的地方jap圣诞节哦啊怕实际得分</td>
                </tr>
                <tr>
                    <td>固定电话</td>
                    <td>13110101010</td>
                </tr>
                <tr>
                    <td>公司网址</td>
                    <td>https://www.apicloud.com</td>
                </tr>
            </tbody>
        </table>
        <div class="placeholder"></div>
    </div> -->
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/ajaxRequest.js"></script>
<script type="text/javascript" src="../../script/languge.js"></script>
<script type="text/javascript">

    apiready = function(){
        fnAjax({
            url: 'supports/FreeModelDetails?supportId='+api.pageParam.id,
            headers: {
                authorization: USER.token
            }
        }, function( ret, err ){
            if( ret ){
                var _html =     
                '<div class="placeholder"></div>'+
                '<div class="container">'+
                '    <p class="content" style="margin-bottom: 1rem">'+fnLanguageSwitch('您是要申请与此项目相关的什么样片')+' </p>'+
                '    <p class="notice" style="margin-bottom:1rem">'+ret.FreeModel.product+''+fnLanguageSwitch('（申请数量：')+''+ret.FreeModel.qty+'）</p>'+
                '    <p class="content">'+fnLanguageSwitch('请注意：系统会根据实际情况对样品的数量进行调整，具体的样品数量以世纪收到的为准。')+'</p>'+
                '    <p class="content" style="margin-bottom: 1rem">'+fnLanguageSwitch('为了更好的评估您所申请的样品，请简单介绍一下本产品')+'   ：</p>'+
                '    <p class="notice" style="margin-bottom:1rem">'+ret.FreeModel.content+'</p>'+

                '    <p class="content" style="margin-bottom: 1rem">'+fnLanguageSwitch('如本项目研发成功，是否考虑基于当前平台再研发其他产品？')+' '+
                '    </p>'+
                '    <p class="notice" style="margin-bottom:1rem">'+( ret.FreeModel.isDeveOther == 1 ? fnLanguageSwitch('是') : fnLanguageSwitch('否') )+'</p>'+
                '    <label for="checkbox" style="margin-bottom: 2rem">'+
                '        <input type="checkbox" id="checkbox" disabled="" checked="">'+fnLanguageSwitch('我同意英特尔嵌入式样品计划的')+''+
                '        <span class="fake-link" tapmode onclick="goWebPage()">'+fnLanguageSwitch('条款与条件')+' >>'+
                '        </span>'+
                '    </label>'+
                '    <label for="checkbox" style="margin-bottom: 2rem">'+
                '        <input type="checkbox" id="checkbox" disabled="" '+( ret.FreeModel.toContact == 1 ? 'checked' : '' )+'>'+fnLanguageSwitch('我同意英特尔代表或其合作伙伴通过电话或电子邮件与我联系。告知有关英特尔样品的更多信息，英特尔或其合作伙伴还可将我的联系信息用于提供产品或提供支持')+'。'+
                '    </label>'+
                '    <p class="notice" style="padding-top: 0.3rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">'+fnLanguageSwitch('地址信息')+'</p>'+
                '    <p class="content">'+fnLanguageSwitch('以下信息为必填，我们会把资料保存到您的个人信息里，下次申请无需再次填写。')+' '+
                '    </p>'+
                '    <table class="table">'+
                '        <tbody>'+
                '            <tr>'+
                '                <th>'+
                '                </th>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('公司名称（中文）')+'</td>'+
                '                <td>'+ret.FreeModel.address.fullNameChinese+'</td>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('公司名称（英文）')+'</td>'+
                '                <td>'+ret.FreeModel.address.fullNameEnglish+'</td>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('公司地址（中文）')+'</td>'+
                '                <td>'+ret.FreeModel.address.addressChinese+'</td>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('邮政编码')+'：</td>'+
                '                <td>'+ret.FreeModel.address.postcode+'</td>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('公司地址（英文）')+'</td>'+
                '                <td>'+ret.FreeModel.address.addressEnglish+'</td>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('固定电话')+'</td>'+
                '                <td>'+ret.FreeModel.address.telephone+'</td>'+
                '            </tr>'+
                '            <tr>'+
                '                <td>'+fnLanguageSwitch('公司网址')+'</td>'+
                '                <td>'+ret.FreeModel.address.webSite+'</td>'+
                '            </tr>'+
                '        </tbody>'+
                '    </table>'+
                '    <div class="placeholder"></div>'+
                '</div>';
                $api.dom( 'body' ).innerHTML = _html;
            }else{
                api.toast({
	            global: true,
                    msg: fnLanguageSwitch( fnErrorJson( err.body.error.message ) )
                });
            }
        });
    };


    // 打开网页
    function goWebPage(el){
        // var url = $api.html(el);
        var animation = {};
        if (move) {
            animation = {
                type: 'movein',
                subType: 'from_right'
            }           
        }
        url = 'baidu.com';
        api.openWin({
            name: 'web_win',
            url: 'widget://' + DIR + '/web_page/web_win.html',
            bounces: false,
            pageParam: {
                title: fnLanguageSwitch('条款与条件'),
                url: url
            },
            animation: animation
        });
    };
</script>
</html>