<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>查看竞争性价格支持</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css" />
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/fonts_awesome/font-awesome.min.css">
    <style type="text/css">
    body{
        height: auto;
        min-height: 100%;
        background-color: #FFFFFF;
    }
    .placeholder{
        height: 2.5rem;
    }
    .container{
        padding: 0 1rem;
    }
    .container label.text{
        font-size: 1.7rem;
        line-height: 4.7rem;
        color: #000000;
    }
    .table{
        margin: 0 auto;
        margin-bottom: 1.5rem;
        /*border-bottom: 1px solid #AEBECB;*/
        width: 100%;
    }
    .table td{
        font-size: 1.6rem;
        line-height: 2rem;
        padding: 0.9rem 0;
        color: #101010;
        /*border: 1px solid #AEAEAE;*/
    }
    .table tr td:nth-child(odd){
        width: 37%;
        font-size: 1.3rem;
        color: #5A5A5A;
    }
    .table tr td:nth-child(even){
        width: 63%;
        font-size: 1.9rem;
        color: #0070C5;
    }
    p.notice{
        font-size: 1.9rem;
        line-height: 2.2rem;
        color: #0070C5;
    }

    span.normal-text{
        color: #5A5A5A;
        font-size: 1.3rem;
    }

    p.content{
        color: #5A5A5A;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    
    label[for="checkbox"]{
        color: #5A5A5A;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    .fake-link{
        color: #0071C5 !important;
    }

    </style>
</head>
<body>
<!--     <div class="placeholder"></div>
    <div class="container">
        <p class="notice" style="padding-top: 0.8rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">公司信息</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>
                    </th>
                </tr>
                <tr>
                    <td>公司名称</td>
                    <td>柚子科技</td>
                </tr>
                <tr>
                    <td>公司官方网址</td>
                    <td>https://www.apicloud.com</td>
                </tr>
                <tr>
                    <td>采购联系人</td>
                    <td>你你你你</td>
                </tr>
                <tr>
                    <td>电话</td>
                    <td>13110101010</td>
                </tr>
                <tr>
                    <td>邮件</td>
                    <td>xxxx@apicloud.com</td>
                </tr>
                <tr>
                    <td>客户种类</td>
                    <td>ODM（Original Design Manufacturce,原始设计制造商）</td>
                </tr>
            </tbody>
        </table>
        <p class="notice" style="padding-top: 0.8rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">采购信息</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>
                    </th>
                </tr>
                <tr>
                    <td>需求数量</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>目标价格</td>
                    <td>17000</td>
                </tr>
                <tr>
                    <td>竞争对手名称</td>
                    <td>ARM</td>
                </tr>
                <tr>
                    <td>竞争对手产品型号</td>
                    <td>346</td>
                </tr>
                <tr>
                    <td>竞争对手产品价格（$美金）</td>
                    <td>17000</td>
                </tr>
            </tbody>
        </table>
        
        <p class="notice" style="padding-top: 0.8rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">项目招投标信息</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>
                    </th>
                </tr>
                <tr>
                    <td>招标单位名称</td>
                    <td>柚子科技</td>
                </tr>
                <tr>
                    <td>招标项目名称</td>
                    <td>哦哦哦哦哦哦哦哦额额哦哦哦哦哦哦</td>
                </tr>
                <tr>
                    <td>招标项目产品数量</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>投标截止日</td>
                    <td>2016/3/31</td>
                </tr>
                <tr>
                    <td>其他参与投标公司1</td>
                    <td>手机发哦束带结发哦喷多久</td>
                </tr>
                <tr>
                    <td>产品型号</td>
                    <td>x2016</td>
                </tr>
                <tr>
                    <td>其他参与投标公司2</td>
                    <td>结发哦喷多久手机发哦束带</td>
                </tr>
                <tr>
                    <td>产品型号</td>
                    <td>Y2016</td>
                </tr>
            </tbody>
        </table>
        <div class="placeholder"></div>
    </div> -->
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/ajaxRequest.js"></script>
<script type="text/javascript" src="../../script/languge.js"></script>
<script type="text/javascript">

    apiready = function(){
        fnAjax({
            url: 'appDimCommons/findCompetitorName',
           // debug: true
        }, function( findCompetitorName, err ){
            if( findCompetitorName ){
                fnAjax({
                    url: 'appDimCommons/findCustomersType',
                   /// debug: true
                }, function( findCustomersType, err ){
                    if( findCustomersType ){
                        fnAjax({
                            url: 'supports/CompetePriceDetails?supportId='+api.pageParam.id
                        }, function( ret, err ){
                            if( ret ){
                                var _html = 
                                '<div class="placeholder"></div>'+
                                '<div class="container">'+
                                '    <p class="notice" style="padding-top: 0.8rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">'+fnLanguageSwitch( '公司信息' )+'</p>'+
                                '    <table class="table">'+
                                '        <tbody>'+
                                '            <tr>'+
                                '                <th>'+
                                '                </th>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '公司名称' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.companyName )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '公司官方网址' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.companyWebsite )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '采购联系人' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.contactName )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '电话' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.telephone )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '邮件' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.email )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '客户种类' )+'</td>'+
                                '                <td>'+fnStringEmpty( fnFilter(findCustomersType, ret.CompetePrice.customerType ).name )+'</td>'+
                                '            </tr>'+
                                '        </tbody>'+
                                '    </table>'+
                                '    <p class="notice" style="padding-top: 0.8rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">'+fnLanguageSwitch( '采购信息' )+'</p>'+
                                '    <table class="table">'+
                                '        <tbody>'+
                                '            <tr>'+
                                '                <th>'+
                                '                </th>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '需求数量' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.qty )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '目标价格' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.targetprice )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '竞争对手名称' )+'</td>'+
                                '                <td>'+fnStringEmpty( fnFilter( findCompetitorName, ret.CompetePrice.competitorName ).name )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '竞争对手产品型号' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.competitorProductModel )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '竞争对手产品价格（$美金）' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.competitorProductPrice )+'</td>'+
                                '            </tr>'+
                                '        </tbody>'+
                                '    </table>'+
                                '    <p class="notice" style="padding-top: 0.8rem;margin-bottom:1rem;border-top:1px solid #AEBECB;">'+fnLanguageSwitch( '项目招投标信息' )+'</p>'+
                                '    <table class="table">'+
                                '        <tbody>'+
                                '            <tr>'+
                                '                <th>'+
                                '                </th>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '招标单位名称' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.tenderName )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '招标项目名称' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.tenderProjectName )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '招标项目产品数量' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.tenderProjectQty )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '投标截止日' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.deadline )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '其他参与投标公司1' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.otherTenderCompany1 )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '产品型号' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.productmodel1 )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '其他参与投标公司2' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.otherTenderCompany2 )+'</td>'+
                                '            </tr>'+
                                '            <tr>'+
                                '                <td>'+fnLanguageSwitch( '产品型号' )+'</td>'+
                                '                <td>'+fnStringEmpty( ret.CompetePrice.productmodel2 )+'</td>'+
                                '            </tr>'+
                                '        </tbody>'+
                                '    </table>'+
                                '    <div class="placeholder"></div>'+
                                '</div>';
                                $api.dom( 'body' ).innerHTML = _html;
                            }else{
                                api.toast({
                    global: true,
                                    msg: fnLanguageSwitch( fnErrorJson( err.body.error.message ) )
                                });
                            }
                        });
                    }
                });
            }
        })
    };

    // 打开网页
    function openWebPage(el){
        var url = $api.html(el);
        var animation = {};
        if (move) {
            animation = {
                type: 'movein',
                subType: 'from_right'
            }           
        }
        api.openWin({
            name: 'web_win',
            url: 'widget://' + DIR + '/web_page/web_win.html',
            bounces: false,
            pageParam: {
                title: '开放套件',
                url: url
            },
            animation: animation
        });
    };
</script>
</html>